*{
  background-color: #F9EFDB;
}

/* .Top{
  display: inline;
  padding: 20px;
  position: fixed;
} */


.navbar {
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px auto;
  background-color: #789461;
  padding: 0.5rem 0;
  z-index: 1000;
  border: 2px solid black;
  text-align: center;
}
/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */
.container {
  display: flex;
}

.logo {
  float: left;
  padding: 0.25rem;
  margin-left: 3rem;
  margin-right: 1rem;
  font-size: 4rem;
  line-height: inherit;
  font-weight: 500;
  color: black;
  margin-top: 1rem;
}

.links {
  display: flex;
  align-items: center;
  float: right;
  font-size: 1.25rem;
}

.links a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
  /* margin: 1rem; */
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.links a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.links a:hover::after {
  width: 100%;
}

.content {
  margin-top: 10px; /* Adjust this value based on your navbar height */
}

/*  */
.hamburger-icon {
  display: none; /* Initially hide the hamburger icon for larger screens */
  cursor: pointer;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon img {
  width: 30px; /* Adjust the size of the hamburger icon */
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .links {
    display: none;
    margin-top: 10%;
    /* padding: 0.5rem; */
    opacity: 1;
    font-size: 20px;
  }

  .navbar.responsive .links {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .navbar.responsive .links a {
    margin: 5px 0;
    white-space: nowrap;
    transition: color 0.3s ease-in-out;
  }

  .navbar.responsive .links a:hover {
    color: grey; /* Change color on hover */
    list-style: none;
  }

  .hamburger-icon {
    display: block; /* Show the hamburger icon for smaller screens */
    float: right;
    transition: transform 0.3s ease-in-out;
  }

  .navbar.responsive .hamburger-icon {
    float: right;
    transform: rotate(90deg);
  }

  .navbar.responsive {
    height: auto;
    transition: height 0.3s ease-in-out;
  }
}

/*  */

/* Sub bar css*/
.more-link {
  position: relative;
}

.sub-bar {
  display: none;
  position: absolute;
  top: 100%;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.92);
  border: 2px solid rgb(163, 159, 159);
  border-radius: 5px;
  text-align: center;
  width: 300px;
  height: 300px;
  box-sizing: content-box;
  opacity: 0;
  /* pointer-events: none; */
  transition: opacity 0.2s ease-in-out, transform 0s linear 0.5s;
}

.more-link:hover .sub-bar,
.sub-bar:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out forwards;
  transform: translateY(0);
}

.sub-bar a {
  padding: 2px 0;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
  opacity: 0;
  width: 120%;
}

.sub-section {
  padding: 10px;
  width: 100%;
  box-sizing: content-box;
  min-height: 60px;
  overflow: hidden;
}

.sub-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.sub-bar .sections {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  text-align: left;
  font-size: 20px;
}
.sub-bar a:hover::after {
  width: 0;
}

.sub-bar a:nth-child(1) {
  animation: fadeIn 0.5s ease-in-out 0.1s forwards;
}
.sub-bar a:nth-child(2) {
  animation: fadeIn 0.5s ease-in-out 0.2s forwards;
}
.sub-bar a:nth-child(3) {
  animation: fadeIn 0.5s ease-in-out 0.3s forwards;
}
.sub-bar a:nth-child(4) {
  animation: fadeIn 0.5s ease-in-out 0.4s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.sub-bar a:hover {
  color: grey;
}

.sub-section {
  padding: 10px;
  width: 100%;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

User
/* Navbar.css */

 
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 0.5rem 0;
  z-index: 1000;
  border: 2px solid black;
  text-align: center;
}
/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */
.container {
  display: flex;
}

.logo {
  float: left;
  padding: 0.25rem;
  margin-left: 3rem;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: inherit;
  font-weight: 500;
  color: black;
  margin-top: 1rem;
}

.links {
  display: flex;
  align-items: center;
  float: right;
  font-size: 1.25rem;
  padding: 0px 20px 20px 20px;
  line-height: 50px;
}

.links a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
  /* margin: 1rem; */
  padding: 1rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.links a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.links a:hover::after {
  width: 100%;
}

.content {
  margin-top: 10px; /* Adjust this value based on your navbar height */
}

/*  */
.hamburger-icon {
  display: none; /* Initially hide the hamburger icon for larger screens */
  cursor: pointer;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon img {
  width: 30px; /* Adjust the size of the hamburger icon */
}
.social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Adjust the spacing as needed */
}

.social-links a {
  text-decoration: none;
}

.social-links img {
  width: 30px; /* Adjust the size of the social media logos */
  height: auto;
  margin-right: 10px; /* Adjust the spacing between logos */
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .links {
    display: none;
    margin-top: 10%;
    /* padding: 0.5rem; */
    opacity: 1;
    font-size: 20px;
  }

  .navbar.responsive .links {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 140%;
  }

  .navbar.responsive .links a {
    margin: 5px 0;
    white-space: nowrap;
    transition: color 0.3s ease-in-out;
  }

  .navbar.responsive .links a:hover {
    color: grey; /* Change color on hover */
    list-style: none;
  }

  .hamburger-icon {
    display: block; /* Show the hamburger icon for smaller screens */
    float: right;
    transition: transform 0.3s ease-in-out;
  }

  .navbar.responsive .hamburger-icon {
    float: right;
    transform: rotate(90deg);
  }

  .navbar.responsive {
    height: auto;
    transition: height 0.3s ease-in-out;
  }
  .sub-bar {
    margin: -300px 100px 0px 0px;
    padding: 0;
    min-height: 100px;
  }
  .links {
    text-align: left;
  }
  .social-links {
    display: none;
  }
}

.main{
  margin-top: 18%;
}

.header{
  border: 2px solid black;
  height: 40vh;
  width: 100%;
  text-align: center;
}
.heading{
  font-size: 30px;
  padding: 2%;
}
.sub-head{
  font-size: 30px;
}

/* *************************Product page********************* */

/* Add this CSS to style your responsive Products component with smooth transitions */

/* Add this CSS to style your Products component */

.p-main {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-head {
  display: flex;
  margin-bottom: 20px;
}

.p-option {
  margin: 0 10px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.p-option.selected {
  background-color: #007bff;
  color: #fff;
}

.p-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.p-image img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s;
}

.p-image img:hover {
  transform: scale(1.1);
}


/* Responsive styles */
@media (max-width: 768px) {
  .p-option {
    font-size: 0.8em;
  }

  .p-images img {
    width: 120px;
    height: 120px;
  }
}
.welcome{
  font-size: 30px;
  padding: 3%;
  font-weight: 600;
  text-align: center;
}
p{
  top: 1%;
  margin: 0px;
}

.first{
  text-align: justify;
  justify-content: center;
  font-size: 22px;
  margin-left: 10%;
  margin-right: 10%;
}

/*  */


.product-list{
  margin-top: 5%;
  font-size: 34px;
}
.utensils{
  margin-top: 10%;
  border: 2px solid black;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
 
}
.product1{
  text-decoration: none;
  border: 2px solid black;
  height: 50vh;
  width: 100%;
  
}
.whyus{
  margin-top: 100%;
  font-size: 30px;
}
.one,.two,.three{
  font-size: 28px;
  padding: 1%;
  margin-top: 5%;
}
span{
  font-size: 24px;
  margin-left: 2%;
  
}

.utensils {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.utensils img {
  /* width: 100%;  */
  /* height: 100% ; */
  /* max-width: 150px; Adjust the max-width to control the size of the images */
  object-fit: contain;
}

.product1 {
  margin: 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
  .product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 8px;
  }
}